@{
    Layout = "_Layout";
    ViewData["Title"] = "HN - TPLOCAL";
    ViewData["Header"] = "Bienvenue chez TP HN";
    ViewData["Route1"] = "/Home/Index/Form";
    ViewData["Route1Text"] = "Formulaire";
    ViewData["Route2"] = "/Home/Index/AvisListe";
    ViewData["Route2Text"] = "Avis Liste";
}

<section>
    <p>
        <a href="/Home/Index/Form">Remplissez le formulaire </a>
    </p>
</section>
