@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HN - TPLOCAL</title>

    <link rel="stylesheet" href="~/resources/Index.css" />
</head>
<body>
    <header>
        <h1>Bienvenue chez TP HN</h1>
    </header>
    <img src="~/resources/GroupeHN.png" class="image" alt="GroupeHN" />

    <nav>
        <ul>
            <li><a href="#">Remplissez le formulaire</a></li>
            <li><a href="#">Avis list</a></li>
        </ul>
    </nav>
</body>
</html>
